/* IMPORT DES FONTS */

/* (https://www.1001fonts.com/harry-potter-fonts.html)  */

@font-face {
    font-family: parryHotter;
    src: url(../fonts/ParryHotter.ttf);
}

@font-face {
    font-family: MagicSchoolOne;
    src: url(../fonts/MagicSchoolOne.ttf);
}

@font-face {
    font-family: MagicSchoolTwo;
    src: url(../fonts/MagicSchoolTwo.ttf);
}

/* GENERAL */

body {
    background-image: url('../images/fondNoir.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    /* font-family: 'MagicSchoolOne'; */
    font-family: 'ParryHotter';
    user-select: none;
}

h1 {
    color: rgb(236, 233, 38);
    font-size: 3rem;
    margin: 0;
}

h4 {
    color: 'red';
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
}

.head {
    text-align: center;
}

/* LECTEUR AUDIO */

.lecteur {
    float: left;
}

.lecteur>button {
    background: transparent;
    border: none;
}

.lecteur>button>i {
    font-size: 2rem;
    color: rgb(236, 233, 38);
}

input[type=range] {
    height: 2rem;
}

input[type=number] {
    border-radius: 0.5rem;
    font-size: 1.5rem;
    width: 3.5rem;
    height: 3rem;
    margin-right: 0.5rem;
    padding-left: 0.8rem;
}

/* FORM DEBUT DE PARTIE */

.start {
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}

/* BUTTON START */

.go {
    cursor: pointer;
    background: grey;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 25%;
}

.go>i {
    font-size: 2rem;
}

.go:hover {
    box-shadow: 0 0 1rem rgb(236, 233, 38);
    color: rgb(236, 233, 38);
}

.go:hover>i {
    animation: turn 0.5s;
}

/* TABLE DE JEU */

.game-board {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
}

/* CARTES */

.htmlButtons {
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0 7rem rgb(0, 0, 0);
    height: 11rem;
    width: 8rem;
    background: rgba(255, 255, 255, 0.900);
    color: white;
    font-size: 4rem;
    margin: 1rem;
    padding: 0; 
    cursor: pointer;
    transition: 0.2s;
    font-family: 'ParryHotter';
}

.htmlButtons:hover {
    transform: scale(1.1);
    box-shadow: 0 0 0.5rem white;
}

.portraits {
    padding: 0.3rem;
    height: 10.5rem;
    width: 7.5rem;
    border-radius: 0.5rem;
}

.image {
    background-image: url('../images/harrypotterPlein.png');
    background-position: center;
    background-size: cover;
    /* Cette ligne etale l'image sur toute les cartes */
    background-attachment: fixed;
}

/* AFFICHAGE DES CLICKS */

#clicks {
    font-size: 3rem;
    color: rgb(236, 233, 38);
}

@keyframes turn {
    from {
        transform: rotateX(0deg)
    }
    to {
        transform: rotateX(360deg)
    }
}

@keyframes cardturn {
    from {
        transform: rotateY(0deg)
    }
    to {
        transform: rotateY(180deg)
    }
}

@media (max-width: 600px) {
    .htmlButtons {
        height: 7rem;
        width: 5rem;
        font-size: 2rem;
    }
}

.victory, .master, .defeat {
    z-index: 10;
}

.victory > img {
    position:absolute;
    left: 50%;
    top: 30%;
    height: 20rem;
    width: auto;
    /* margin-top: -59px; */
    margin-left: -163px;
}

/* .master {} */

/* .defeat {} */