<!DOCTYPE html>
<html lang="en" ng-app>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet" href="css/memory.css">
    <link rel="stylesheet" href="css/modal.css">
    <title>Memory Card Game "Potter"</title>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
</head>

<body>
    <div class="head">

        <audio id="gagne" src="sounds/magic.wav"></audio>
        <audio id="victorysound" src="sounds/bravo.wav"></audio>

        <!-- AUDIO CONTROLS -->
        <div class="lecteur">
            <audio id="audioPlayer">
                <source src="sounds/HarryPotterThemeSong.mp3">
            </audio>
            <button class="control" id="play" onclick="play('audioPlayer', this)"><i
                    class="fas fa-play-circle"></i></button>
            <button class="control" id="stop" onclick="resume('audioPlayer')"><i
                    class="fas fa-stop-circle"></i></button>
            <input type="range" orient="vertical" id="volume" min="0" max="1" step="0.1"
                onchange="('audioPlayer', this.value)">
        </div>

        <!-- START GAME CONTROLS -->
        <div class="title">
            <h1>Memory "Potter" Card Game</h1>
        </div>
        <div>
            <div>
                nombre de paires :
            </div>
            <div class="start">
                <input type="number" ng-model="pairs" value="0" name="cardNumber" id="cardNumber" required>
                
                <button ng-if="pairs > 0" class="go" type="submit" onclick="newgame()"><i class="fas fa-magic"></i> <br> Start</button>
            </div>
            <div ng-if="pairs <= 0" style="padding: 2rem; background:blanchedalmond; color:black">
                Vous devez rentrer une valeur superieur a Zero !
            </div>
        </div>

        <!-- GAME BOARD -->
        <div class="game-board" id="board"></div>

        <!-- Affichage des Clicks -->
        <h4>Nbre de Click : <span id="clicks"></span></h4>

    </div>


    <!-- The Modal -->
    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <div id="captionTitle"></div>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>


    <script src="js/memory.js"></script>

</body>

</html>